@page
@model PrivacyModel
@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>@Model.Message</h3>

<p>Use this page to detail your @Html.Raw(Model.Greeting) privacy policy.</p>
